@import "compass";
@import "foundation"; 
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body {
      background: url("banner_image.jpg");
      background-attachment: fixed;
      background-size: 100%;
  }

.page {

  padding-top: 5em;
  padding-bottom: 5em;
  height:auto;
  background:#ffffff;

}

.columns {
  padding-top: 1em;
  padding-bottom: 1em;
}
.trans_page {
  padding-top: 5em;
  padding-bottom: 5em;
  height:auto;
}

.slick-prev:before, .slick-next:before { 
    color:#333 !important;
}

footer {

  background-color:#333;
  padding:.5em;
  overflow:hidden;
  color:white;
}