<div class ="row">

</div>

<div>
<label> Sort by :
  <select ng-model = "genre">
    <option  ng-repeat = "gen in genres" value= '{{gen}}'>{{gen}}</option>
  </select>
</label>
<ul class = " large-block-grid-6">
  <li ng-repeat = "movie in movies | filter : filterByGenres" class="thumbnail">
  	<a class = "th" href="#/lists/{{movie.rank}}" class="thumb"><img ng-src="/data/images/{{movie.imdbID}}.jpg"></a>
    <h5>{{movie.title}}</h5>
    <h5>
     Rank: {{movie.rank}}
    </h5>
  </li>
</ul>

</div>
